body{
    background: #EAF4F7;
}
nav{
    height: 100px;
}
a.obraz > img{
    border-radius: 15%;
    margin-left: 30px;
}
a.obraz:hover{
    opacity:0.8;
}
nav ul{
    height: 100px;
    list-style-type: none;
    display: inline;
}

li{
    float: left;
    color: black;
    font-size: 22px;
    display: inline;
}
#li > li{
    padding: 20px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: rgba(17, 132, 226, 0.918);
    font-size:102%;
}
#block1{
    
    margin-left:10px;
    width: 1700px;
    height: 80px;
    background: #D4E7F8;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
#block1 p{
    position: absolute;
    right: 900px;
    top: 85px;
    font-family: Roboto Slab;
    font-size: 40px;
    text-align: center;
    color: #74A6D5;
    
}
#block2{
    clear: both;
    margin-top: 20px;
    margin-left:10px;
    width: 250px;
    height: 600px;
    background: #D4E7F8;
    border-radius: 15px;
    float: left;
}
#block2 p{
    margin-left: 20%;
    font-size: 20px;
}
#block2 h2{
    margin-left: 10%;
}
#block3{
    margin-top: 20px;
    margin-left:300px;
    width: 1400px;
    height: 600px;
    background: #D4E7F8;
    border-radius: 15px;
}
#block3 p{
    margin-left: 5%;
    font-size: 20px;
}
#block3 > img{
    border-radius: 15px;
    margin-left: 3%;
    margin-top: 3%;
}
a.obraz2 > img{
    border-radius: 15%;
    float: left;
    margin-top: 10px;
}
a.obraz2    :hover{
    opacity:0.8;
}
a.obraz3 > img{
    border-radius: 15%;
    float: left;
    padding-left: 10px;
    margin-top: 10px;
}
a.obraz3:hover{
    opacity:0.8;
}
textarea.kod1{
    float: left;
    border-radius: 5%;
    margin-top: 10px;
    margin-left: 10px;
    resize:none;
    width: 650px;
	height:555px;
	border:groove 6px rgba(255, 208, 0, 0.897);
    background-color: rgba(175, 214, 247, 0.973);
}
textarea.kod2{
    float: left;
    border-radius: 5%;
    margin-top: 10px;
    margin-left: 10px;
    resize:none;
    width: 650px;
	height:555px;
	border:groove 6px rgba(255, 208, 0, 0.897);
    background-color: rgba(175, 214, 247, 0.973);
}

